name: First Workflow

on: workflow_dispatch

jobs:
  first-job:
    runs-on: windows-latest
    steps:
      - name: Print greeting
        run: |
            echo "Hello world!"
            echo "Hello INDIA"

      - name: Print goodbye
        run: |
            echo "done-bye!"
            echo "Bye INDIA"
